@import url('https://n4g1h4ck.github.io/css/general.css');

body {
    width: 100%;
    height: 100dvh;
    background: rgb(8,19,80);
    background: radial-gradient(circle, rgba(8,19,80,1) 0%, rgba(1,1,34,1) 50%, rgba(0,2,14,1) 100%);
}

.wrapper {
    width: 90%;
    height: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: var(--white-color);
}
